@charset utf-8;

body {
	text-align: center;
	margin: auto;
}

body table {
	margin: auto;
	border:#000 solid 1px;
	border-spacing: 1px;
	margin-bottom: 10px;
}

body table td {
	margin: auto;
	border:#000 solid 1px;
	border-spacing: 0;
	text-align: right;
	color: #000;
	text-align: left;
	padding: 1px 20px;
}

body table th {
	margin: auto;
	background-color: #000;
	border:#000 solid 1px;
	border-spacing: 0;
	text-align: left;
	color: #fff;
	text-align: center;
}

body table .th {
	margin: auto;
	background-color: #fff;
	border:#000 solid 1px;
	border-spacing: 0;
	text-align: left;
	color: #fff;
	text-align: center;
	padding:0;
}

body table img {
	max-height: 16px;
	max-width: 16px;
}

body table th button {
	/*background-color: #fff;*/
}